@import url('https://fonts.googleapis.com/css?family=PT+Sans');

*,
*::after,
*::before {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $default-font-family;
  font-size: inherit;
}

html {
  font-size: $default-font-size;
}
