// Global Settings

$default-font-family: 'PT Sans', sans-serif;
$default-font-size: 10px;


// mainBar

$mainbar-height: 8rem;
$mainbar-padding: 1.5rem;
$mainbar-margin-bottom: 1rem;
$mainbar-logo-image-width: 7rem;
$mainbar-text-width: 20rem;
$mainbar-link-width: 12rem;
$mainbar-background-color: black;
$mainbar-font-color: white;
$mainbar-logo-text-font-size: 2rem;
